*{
    padding: 0px;
    margin: 0px;
}

body {
    padding: 50px;
    background: rgb(180, 180, 179);
}

.general {
    height: 800px;
    width: 1200px;
}


.jugar {
    background: #F9EAC3;
}

.comer {
    background: #cff0cc;
}

.pelear {

    background: #facec4;

}

.dormir {

    background: #ccffff;

}


.row {
    height: 400px;
}

.comandoP{
    float: right;
    margin-top: 300px;
    margin-right: 100px;
}

.comandoE {
    margin-left: 100px;
    margin-top: 300px;
}

.comandoF {
    margin-left: 100px;
    margin-top: 50px;
}

.comandoS {
    float: right;
    margin-right: 100px;
    margin-top: 300px;
}

.eat {
    height: 50px;
}