*{
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(rgba(0, 1, 10, 0.103), rgba(120, 17, 161, 0.692));
    padding:0px;
    font-family: 'Orbitron', sans-serif;
}

.container {
   width:100vw;
   /*Añadido*/
   height:100vh;
   padding:0px;
   
}

.limpiar {
    display:flex;
    background: #F9EAC3;
    text-align:right;
    justify-content: flex-end;
    border:3px solid white;
    border-radius: 4px;
}
.comer {
    background: #cff0cc;
    text-align:left;
    border:3px solid white;
    border-radius: 4px;
}
.descansar {
    text-align:left;
    background: #facec4;
    border:3px solid white;
    border-radius: 4px;

}
.dormir {
    display:flex;
    justify-content: flex-end;
    text-align:right;
    background: #ccffff;
    width:100%;
    border:3px solid white;
    border-radius: 4px;
}

/* AÑADIDO CARLOS */
.icono {
    height: 45px;
}
button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.aseo {
    border-color: gold;
}

.game {
    border-color: #c23b22;
}

.reposar {
    border-color: #51d1f6;
}

.consumir {
    border-color: green;
}

.comandoE {
    color: green;
}

.comandoD {
    color: blue;
}

.comandoJ {
    color: red;
}

.comandoL{
    color: gold;
}

/*AÑADIDO*/

.startGame{
    border-radius:3px;
    width:150px;
    height:30px;
    z-index:10;
    margin-bottom: 35px;
}

#nombre{
    margin-top: 20px;
}

.personaje{
    margin-top: 50px;
    color: white;
    margin-bottom: 20px;;
    font-size: 30px;
    
}

#tiraCansancio{
    width:200px;
    border:2px solid black;
    border-radius: 15px;
    height:30px;
    position: relative;
    background-color: white;
    margin:10px;
   
}
#tiraHambre{
    width:200px;
    border:2px solid black;
    border-radius: 15px;
    height:30px;
   position: relative;
    background-color: white;
    margin:10px;
   
}

#tiraDiversion{
    width:200px;
    border:2px solid black;
    border-radius: 15px;
    height:30px;
   position: relative;
    background-color: white;
    margin:10px;
   
}
#tiraLimpieza{
    width:200px;
    border:2px solid black;
    border-radius: 15px;
    height:30px;
   position: relative;
   background-color: white;
   margin:10px;
   
}
#tiraFelicidad{
    width:200px;
    border:2px solid black;
    border-radius: 15px;
    height:30px;
   position: relative;
   margin: 10px;
   background-color: white;
   
}
.RellenoCansancio{
    position: absolute;
    color:white;
    background-color: green;
    border-radius: 15px;
    height:100%;
    vertical-align: center;
}
.RellenoHambre{
    position: absolute;
  
    color:white;
    background-color: green;
    border-radius: 15px;
    height:100%;
    vertical-align: center;
}
.RellenoDiversion{
    position: absolute;
    color:white;
    background-color: green;
    border-radius: 15px;
    height:100%;
    vertical-align: center;
}
.RellenoLimpieza{
    position: absolute;
    
    color:white;
    background-color: green;
    border-radius: 15px;
    height:100%;
    vertical-align: center;
}
.RellenoFelicidad{
    position: absolute;
  
    color:white;
    background-color: green;
    border-radius: 15px;
    height:100%;
    vertical-align: center;
}


.fotoFondo{
    display:flex;
    background: linear-gradient(rgba(0, 1, 10, 0.103), rgba(120, 17, 161, 0.692)), url("../img/Fondo1.png");
   
    background-size:contain;
    text-align: center;
    height:40%;
   align-items: center;
   flex-flow: column;
   color:white;
   text-shadow:0.2em 0.2em #333;
   border:3px solid white;
   border-radius: 3px;
   margin-top:20px;
   margin-bottom: 20px;
   
}

.fotoTama0{
    background-image:url("../img/happy.png") ;
    width:250px;
    height:225px;
    background-size: auto;
    margin-right:50px;
    margin-bottom: 70px;
    margin-top: -35px;

}

.fotoTama1{
    background-image:url("../img/happy.png") ;
    width:250px;
    height:225px;
    background-size: auto;
    margin-right:50px;
    margin-top: -35px;

}
.fotoTama2{
    background-image:url("../img/alerta.png") ;
    width:250px;
    height:225px;
    background-size: auto;
    margin-right:50px;
    margin-top: -35px;
}
.fotoTama3{
    background-image:url("../img/muerto.png") ;
    width:250px;
    height:225px;
    background-size: auto;
    margin-right:50px;
    margin-top: -35px;
}


/*----*/ 

.rojo{
    position: absolute;
    color:white;
    border-radius: 15px;
    height:100%;
    vertical-align: center;
    background-color: red;
}

.boton{
    height:35px;
    width:35px;
    margin:5px;
    border-radius: 5px;;
   background-color: black;
    color:white;
    font-size:20px;
}

.botones{
    display:flex;
    justify-content: center;
}

#h1Nombre {
    margin-top: 20px;
}

